body {
  background-color: #fffcdc;
  background: linear-gradient(90deg, #ffefba, #fff);
}

.med-card {
  margin: 20px;
  border: 1px solid pink;
  background: #ffccff;
  box-shadow: 5px 5px peachpuff;
  width: 250px;
  max-width: 250px;
  text-align: center;
  padding: 20px;
  transition: transform 300ms ease-out;
}

.med-card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1) ease-in;
}
.meds-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: row wrap;
  margin: 10px;
}

button:before {
  position: absolute;
  top: 11px;
  left: -30px;
  transition: all 300ms ease;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* button:hover {
  animation: bounce 1s;
  cursor: pointer;
}

.li-button:hover {
  animation: bounce 1s;
  cursor: pointer;
}
.rxguide-logo:hover {
  animation: bounce 1s;
}

.about:hover {
  animation: bounce 1s;
}

.custom-link:hover {
  animation: bounce 1s;
} */

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
